extends ../shared/template
block content
  h2 Recipes Page!

  .wrapper
    each recipe in recipes
      .recipe
        img(src='#{recipe.photo}')
        h2= recipe.name
        ul
        each ingredient in recipe.ingredients
          li= ingredient
        h2= recipe.directions

block scripts
