@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

body{
  background-color: lightgrey;
}

#formInput{
  position: relative;
  text-align: center;
}

.form textarea{
  height: 70px;
}

.category{
  display: inline;
  margin: 20px 50px;
}

#recipes{
  position: relative;
}

.recipe{
  margin: 2%;
  width: 28%;
  vertical-align: top;
  background: darkgrey;
  border: solid black 2px;
  display: inline-block;
  position: relative;
}

.image{
  background-size: cover;
  height: 300px;
}


.recipe li{
  position: relative;
  left: 20px;
}

.white{
  position: absolute;
  top: 5px;
  right: 5px;
}

form{
  position: relative;
}

.form {
  display: inline-block;
  position: relative;
}


