@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

body{
  background-color: #B5B9B9;
}

a{
  text-decoration: none;
}

#title{
  text-align: center;
  font-size: 7em;
  font-family: 'Fredericka the Great', cursive;
}

#formInput{
  position: relative;
  text-align: center;
}

.form textarea{
  height: 70px;
}

#categories {
  height: 50px;
  text-align: center;
  margin-top: 20px;
}

#categories li{
  margin: 0 20px;
  display: inline;
  text-align: center;
  font-size: 2em;
  font-family: 'Fredericka the Great', cursive;
  color: #fe1a00;
}

#recipes{
  position: relative;
}

.recipe{
  margin: 2%;
  width: 28%;
  vertical-align: top;
  background: darkgrey;
  border: solid black 2px;
  display: inline-block;
  position: relative;
}

.image{
  background-size: cover;
  height: 300px;
}


.recipe li{
  position: relative;
  left: 20px;
}

.white{
  position: absolute;
  top: 5px;
  right: 5px;
}

form{
  position: relative;
}

.form {
  display: inline-block;
  position: relative;
}


