@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

body{
  background-color: lightgrey;
}

.recipe{
  margin: 2.5%;
  width: 28.3%;
  border: solid black 2px;
  display: inline-block;
}

img{
  width: 120px;
  height: 90px;
}
